
*{ margin: 0px;}
        header{
            display: flex;
            justify-content: space-between;
            background-color:#FFFFFF;
            width:100%;
            height: 100px;}
    /* logo and emergency start  */
            .logo{
                width:15%;
                height:50%;
                margin-right: 5%; 
            }
            .Emergency-text{
                font-size: 1.8rem;
                font-weight:1000;
                color:#006747;
            }
            .logoContainer{
                width:25%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        /* life  */
        .life-logo{
            width: 40%;
        }
        .life-coin-copy-box{
            width: 15%;
            height: 20%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10%;
            padding: 12px 20px 12px 20px;
            border-radius: 50px;
            background: rgba(65, 255, 107, 0.1);
            margin:1%;
            font-size: 0.5rem;
        }
        .copy-background{
            background-color:#00A63E;
            color: #FFFFFF;
            font-size: 0.5rem;
        }
        .life-coin-copy-container{
            width: 30%;
            justify-items: center;
            display: flex;
            align-items: center;
        }

       /* section style start  */
        .logo-heading-para-section{
        background: linear-gradient(90.00deg, rgba(1.25, 49.64, 34.61, 1),rgba(0, 103, 71, 1) 50%,rgba(1, 50, 35, 1) 100%);
        }
        .Heading-and-title-container{
            width: 100%;
            height: 239px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5%;
        }
        .heading-and-title-logo{
            width: 10%;
            height:50%;
        }
        .Emergency-Service-Directory-heading{
            color: rgba(255, 255, 255, 1);
            font-size: 2rem;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
        }
        .Emergency-Service-Directory-heading-parah{
            color: rgba(255, 255, 255, 1);
            font-size: 1rem;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
        }

        /* service div style start  */
        .grid-container{
            height:143vh;
            display: grid;
            grid-template-columns:25% 25% 25% 25%;
            justify-items: center;
            background: rgba(245, 255, 246, 1);
            padding: 2%;
            row-gap: 2%;
        }

        .grid-container > div {
            width:80%;
            background-color:white;
            text-align: center;
            padding:8%; 
            border-radius: 12px;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
            background: var(--White, rgba(255, 255, 255, 1));
        }
        .item4{
            grid-area: span 3;
        }
        .div-inner-space{
            align-content: space-evenly;
            row-gap: 2%;
        }
      /* service content style  */
        .service-logo-life{
            height:20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5%;
        }
        .service-div-logo-container{
            width:20%;
            height: 80%;
            border-radius: 1rem;
            background: rgba(255, 227, 226, 1);
            justify-content: center;
            align-content: center;
            
        }
        .item2-div-bg{
            background: rgba(223, 239, 255, 1);
        }
        .life-font{
            font-size: 135%;
            color: #5C5C5C;
        }
        .service-box-img{
        width: 60%;
        height: 80%;
        }

        .call-name-container{
            margin-bottom: 5%;
        }
        .service-div-text{
         text-align: left;
         font-size: 0.8rem;
         margin-bottom: 6%;
        }
        .National-Emergency-Number{
            font-size:1.2rem;
        }
        .National-Emergency{
            font-size: 1rem;
        }
        .call-history-text{
            font-size: 1rem;
        }
        .sevice-name{
        width: 22%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
        padding: 2%;
        border-radius: 50px;
        background: rgba(65, 255, 107, 0.1);
        margin:1%; 
       }
       .call-text{
        text-align: left;
        font-weight: 700;
        font-size: 0.5;
       }
       .service-btn-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: gery;
         gap: 6;
       }
       .copy-call-btn{
        width:45%;
        justify-content: center;
        align-items: center;
        padding:0.5rem;
        border-radius: 8px;
       }
       .call-btn{
        background-color: var(--Green, rgba(0, 166, 62, 1));;
        color: white;
        border: none;
       }
       .copy-btn{
        box-sizing: border-box;
        border: 1px solid var(--Stroke, rgba(212, 214, 213, 1));
        border-radius: 8px;
        background: var(--White, rgba(255, 255, 255, 1));
        color: var(--Gray, rgba(92, 92, 92, 1));
       }
       /* call history start  */
       .call-history-div{
         display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8%;
       }
       .call-history-btn{
        padding:5% 10%;
        border-radius: 50px;
        background: rgba(0, 166, 62, 1);
        border: none;
        color: #FFFFFF;
        text-align: center;
       }

       /* call history  */
       .call-history-rec{
        width:90%;
        height:5%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        gap: 16;
        padding: 5%;
        border-radius: 8px;
        background: var(--Surface, rgba(250, 250, 250, 1));
        margin-bottom: 2%;
       }
       .call-history-text{
        text-align: left;
       }
       .history-sevice-name{
        font-size: 0.8rem;
       }
        /* responsive items4  */
        .for-responive{
            display:none;
        }

       /* Responsive Start  */

    @media(min-width:700px) and (max-width:900px){
       .logoContainer{
                width:25%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .life-logo{
            width: 50%;
        }
        
              .logo{
                width:15%;
                height:40%;
                margin-right: 5%; 
            }
                .Emergency-text{
                font-size: 1.5rem;
                font-weight:1000;
                color:#006747;
            }
        
        .life-coin-copy-container{
            width: 30%;
            justify-items: center;
            display: flex;
            align-items: center;
            padding: 1%;
        }

        .heading-and-title-logo{
            width: 10%;
            height:40%;
        }
        .Emergency-Service-Directory-heading{
            color: rgba(255, 255, 255, 1);
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
        }
        .Emergency-Service-Directory-heading-parah{
            color: rgba(255, 255, 255, 1);
            font-size: 0.8rem;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
        }

    }


     @media(min-width:500px) and (max-width:699px){
       .logoContainer{
                width:25%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
              .logo{
                width:15%;
                height:30%;
                margin-right: 5%; 
            }
                .Emergency-text{
                font-size: 1rem;
                font-weight:1000;
                color:#006747;
            }
        .life-logo{
            width: 100%;
            height: 100%;
        }
        .life-coin-copy-container{
            width: 30%;
            justify-items: center;
            display: flex;
            align-items: center;
            padding: 1%;
            
        }
         .life-coin-copy-box{
            width: 15%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20%;
            padding: 5% 10% 5% 10%;
            border-radius: 50px;
            background: rgba(65, 255, 107, 0.1);
            margin:1%;
            font-size: 0.4rem;
        }
        .copy-background{
            background-color:#00A63E;
            color: #FFFFFF;
            font-size: 0.4rem;
        }

        .heading-and-title-logo{
            width: 10%;
            height:30%;
        }
         .Emergency-Service-Directory-heading-parah{
            color: rgba(255, 255, 255, 1);
            font-size: 0.8rem;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
        }
    }


     @media(min-width:350px) and (max-width:499px){
         .logoContainer{
                width:35%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
              .logo{
                width:15%;
                height:30%;
                margin-right: 5%; 
            }
                .Emergency-text{
                font-size: 1rem;
                font-weight:1000;
                color:#006747;
            }
        .life-logo{
            width: 100%;
            height: 100%;
        }
        .life-coin-copy-container{
            width: 50%;
            justify-items: center;
            display: flex;
            align-items: center;
            padding: 1%;
            
        }
         .life-coin-copy-box{
            width: 15%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20%;
            padding: 5% 10% 5% 10%;
            border-radius: 50px;
            background: rgba(65, 255, 107, 0.1);
            margin:1%;
            font-size: 0.4rem;
        }
        .copy-background{
            background-color:#00A63E;
            color: #FFFFFF;
            font-size: 0.4rem;
        }

        .heading-and-title-logo{
            width: 10%;
            height:20%;
        }

        .Emergency-Service-Directory-heading{
            color: rgba(255, 255, 255, 1);
            font-size: 1rem;
            font-weight: 700;
            line-height: 1rem;
            letter-spacing: 0%;
            text-align: center;
        }
         .Emergency-Service-Directory-heading-parah{
            color: rgba(255, 255, 255, 1);
            font-size: 0.4rem;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
        }
     }

       @media(min-width:300px) and (max-width:349px){
         .logoContainer{
                width:40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
              .logo{
                width:15%;
                height:20%;
                margin-right: 5%; 
            }
                .Emergency-text{
                font-size: 0.8rem;
                font-weight:1000;
                color:#006747;
            }
        .life-logo{
            width: 100%;
            height: 100%;
        }
        .life-coin-copy-container{
            width: 50%;
            justify-items: center;
            display: flex;
            align-items: center;
            padding: 1%;
        }
         .life-coin-copy-box{
            width: 15%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20%;
            padding: 5% 10% 5% 10%;
            border-radius: 50px;
            background: rgba(65, 255, 107, 0.1);
            margin:1%;
            font-size: 0.2rem;
        }
        .copy-background{
            background-color:#00A63E;
            color: #FFFFFF;
            font-size: 0.2rem;
        }

        .heading-and-title-logo{
            width: 10%;
            height:20%;
        }

        .Emergency-Service-Directory-heading{
            color: rgba(255, 255, 255, 1);
            font-size: 1rem;
            font-weight: 700;
            line-height: 1rem;
            letter-spacing: 0%;
            text-align: center;
        }
         .Emergency-Service-Directory-heading-parah{
            color: rgba(255, 255, 255, 1);
            font-size: 0.5rem;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
        }
     }

     /* main section responsive  */
      @media(min-width:300px)and (max-width:1024px){
        .grid-container{
            height:143vh;
            display: grid;
            grid-template-columns:25% 25% 25% 25%;
            justify-items: center;
           background: rgba(245, 255, 246, 1);
            padding: 2%;
            row-gap: 2%;
            display: flex;
            flex-direction: column;
        }

        .grid-container > div {
            width:80%;
            background-color:white;
            text-align: center;
            padding:8%; 
            border-radius: 12px;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
            background: var(--White, rgba(255, 255, 255, 1));
        }

    }